body{
	/*background-image: linear-gradient(#38ADAE, #CD295A) !important; */
	margin: auto;
}

footer{
	margin: auto;
	text-align: center;
}

div.card{
	margin:auto;
}

nav{
	border: 1px black;
}

footer img {
	max-width: 100px;
	max-height: 100px;
}

#carousel img {
	max-height: 600px;
	object-fit: cover;
}
p.about {
	text-align: center;
}
img.rewimages{
width: 400px;
height: auto;
}
h1.articlehead{
	text-align: center;
}
.trformat{
	width: 200px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#articletitle{
	margin: auto;
}
.credits{
	visibility:20%;
	color: gray;
}
.hdTitle {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.bannersize{
	width: 400px;
	height: auto;
}
.h1edit{
	margin-top: 10px;
	text-align: center;
}
.genny{
margin-left: auto;
margin-right: auto;
}
