body{
	background-image: linear-gradient(#38ADAE, #CD295A) !important;
	margin: auto;
}

footer{
	margin: auto;
	text-align: center;
	
}

div.card{
	margin:auto;
}

nav{
	border: 1px black;
	font-size: 48px;
}